.button{
    background-color: #06b6d4;
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
}

.button:hover{
    background-color: #333333;
    cursor: pointer;
    transition: 0.3s;
}

.review-border{
    width: 43%;
    height: 2px;
    background-color: rgb(58, 53, 53);
    margin: auto;
    
}

.review-button{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.btn-review:hover{
    background-color: #06b6d4;
    border:none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-review{
    background-color: #333333;
    padding: 8px 20px;
    border-radius: 50px;
}

/* make products responsive */
@media only screen and (max-width: 576px) {
    .review-border{
        width: 19%;
    }
}