.button{
    background-color: rgb(14 165 233);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
}

.button:hover{
    background-color: #333333;
    cursor: pointer;
    transition: 0.3s;
}