.button{
    background-color: #fabc09;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.button:hover{
    background-color: #333333;
    cursor: pointer;
    transition: 0.3s;
}